<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Totalexpenses</th>
      <th>Cash</th>
      <th>Totalentry</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.day %></td>
        <td><%= entry.totalExpenses %></td>
        <td><%= entry.cash %></td>
        <td><%= entry.totalEntry %></td>
        <td><%= entry.category_id %></td>
        <td><%= entry.user_id %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
